@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec congue lacus, eu lobortis mauris. Pellentesque metus tellus, tempus et justo in, tincidunt iaculis eros. Donec nibh libero, imperdiet sit amet feugiat sed, dictum et orci. Nullam sit amet ex a lectus auctor hendrerit. Duis maximus ex hendrerit placerat tempus. Nulla sollicitudin sodales egestas. Praesent a lorem urna. In nulla quam, ultrices sed odio sed, feugiat malesuada lectus. Donec sit amet vestibulum turpis. Vivamus sed sem quis ligula scelerisque ultrices in et quam. </p>
